@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
}

/* HEADER */
/* Barra inicio */
.header-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  height: 15rem;
  background-color: #eaecec;
  color: #000000;
}
.header-box .logo-box a img {
  height: 10rem;
}
@media screen and (max-width: 1024px) {
  .header-box .logo-box {
    margin-bottom: 2rem;
  }
}
.header-box .user-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.header-box .user-box .login-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-right: 1rem;
}
@media screen and (max-width: 1024px) {
  .header-box .user-box .login-box {
    gap: 2rem;
  }
}
.header-box .user-box .login-box .logIn-icon {
  display: none;
}
@media screen and (max-width: 540px) {
  .header-box .user-box .login-box .logIn-icon {
    display: contents;
  }
}
.header-box .user-box .login-box .signUp-icon {
  display: none;
}
@media screen and (max-width: 540px) {
  .header-box .user-box .login-box .signUp-icon {
    display: contents;
  }
}
@media screen and (max-width: 540px) {
  .header-box .user-box .login-box .logIn {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .header-box .user-box .login-box .signUp {
    display: none;
  }
}
.header-box .user-box .login-box a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.7rem;
  color: #444444;
  transition: all 300ms ease;
}
.header-box .user-box .login-box a:hover {
  color: #219599;
}
.header-box .user-box .login-box span {
  font-weight: 600;
  font-size: 1.7rem;
  color: #444444;
}
@media screen and (max-width: 540px) {
  .header-box .user-box .login-box span {
    display: none;
  }
}
.header-box .user-box .cart-box a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.7rem;
  color: #444444;
  transition: all 300ms ease;
}
.header-box .user-box .cart-box a:hover {
  color: #219599;
}
.header-box .user-box .cart-box span {
  font-weight: 600;
  font-size: 1.7rem;
  color: #444444;
}
@media screen and (max-width: 1024px) {
  .header-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
  }
}

/* Menu de navegación Bootstrap */
.nav-box {
  font-size: 2rem;
  padding: 1rem;
  background-color: #eaecec;
}
.nav-box .menu {
  display: none;
  font-size: 2.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 500;
  color: #050505;
  transition: all 300ms ease;
}
@media screen and (max-width: 991px) {
  .nav-box .menu {
    display: contents;
  }
}
.nav-box .menu:hover {
  cursor: default;
  color: #444444;
}
.nav-box .responsive-icon {
  background-color: hwb(192 93% 5%);
  border: 1px #0b868f solid;
}
.nav-box .nav-list-box {
  font-weight: 500;
  font-size: 2rem;
  margin-right: 2rem;
}
.nav-box .nav-list-box a {
  font-weight: 500;
  font-size: 2rem;
  color: #202020;
  margin-right: 2rem;
}
.nav-box .nav-list-box a:hover {
  color: #219599;
}
.nav-box .nav-list-box .bootstrap-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px #c4c2c2 solid;
  border-radius: 2rem;
  background-color: #fff;
  height: 4rem;
  overflow: hidden;
  padding: 0 1rem;
}
.nav-box .nav-list-box .bootstrap-form .bootstrap-input {
  border: none;
  font-size: 1.5rem;
  color: #444444;
  outline: none;
}
.nav-box .nav-list-box .bootstrap-form .bootstrap-input::-webkit-search-cancel-button {
  appearance: none;
}
.nav-box .nav-list-box .bootstrap-form .btn-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  height: 100%;
  padding: 1rem 2rem;
  background-color: #fff;
  cursor: text;
}
.nav-box .nav-list-box .bootstrap-form .btn-search i {
  font-size: 2rem;
  color: #444444;
}

/* FOOTER */
.footer {
  background-color: #0f1518;
  margin-top: auto;
  width: 100%;
}
.footer .footer-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  font-size: 1.5rem;
  padding: 45px 0;
}
@media screen and (max-width: 540px) {
  .footer .footer-group {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 5rem;
    text-align: center;
  }
}
.footer .footer-group .footer-box .footer-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
}
.footer .footer-group .footer-box .footer-logo a img {
  width: 30rem;
}
.footer .footer-group .footer-box .social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%;
  height: 5rem;
}
.footer .footer-group .footer-box .social a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  text-decoration: none;
  width: 45px;
  height: 45px;
  color: #fff;
  text-align: center;
  background-color: #263646;
  border-radius: 30px;
  transition: all 300ms ease;
}
.footer .footer-group .footer-box .social a:hover {
  color: #219599;
}
.footer .footer-group .footer-box .footer-titles {
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 3rem;
  padding: 0 5rem;
}
.footer .footer-group .footer-box ul {
  padding: 0 5rem;
}
.footer .footer-group .footer-box ul li {
  width: 100%;
  list-style: none;
  margin-bottom: 1.8rem;
}
.footer .footer-group .footer-box ul li a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
  position: relative;
}
.footer .footer-group .footer-box ul li a::after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%, 50%);
  opacity: 0;
  transition: all 300ms ease;
}
.footer .footer-group .footer-box ul li a:hover::after {
  opacity: 1;
}
.footer .footer-group .footer-box ul li a:hover {
  transition: all 300ms ease;
}
.footer .footer-group .footer-box ul li p {
  font-weight: 600;
}
.footer .footer-group .footer-box p {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.footer .footer-copy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
  background-color: #011218;
  text-align: center;
}
.footer .footer-copy small {
  font-family: "Courier New", Courier, monospace;
  font-size: 1.5rem;
  color: #fff;
}

/* INDEX */
.index-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index-main h1 {
  margin-top: 2rem;
  font-size: 5rem;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  font-weight: 600;
  color: #202020;
}
.index-main .carousel-box {
  width: 100%;
  padding: 1rem 2rem;
}
@media screen and (max-width: 540px) {
  .index-main .carousel-box {
    width: 100%;
    height: 50rem;
  }
}
.index-main .carousel-box .item-carou img {
  height: 100rem;
  border-radius: 1rem;
}
@media screen and (max-width: 540px) {
  .index-main .carousel-box .item-carou img {
    width: 100%;
    height: 42rem;
  }
}
.index-main .filter-index-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
}
.index-main .filter-index-section h2 {
  text-align: center;
  font-size: 4rem;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 1rem;
}
.index-main .filter-index-section .filter-list-box {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 2rem;
}
.index-main .filter-index-section .filter-list-box ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}
@media screen and (max-width: 540px) {
  .index-main .filter-index-section .filter-list-box ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}
.index-main .filter-index-section .filter-list-box ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20rem;
  padding: 2rem;
  list-style: none;
  border-radius: 1rem;
}
.index-main .filter-index-section .filter-list-box ul li a {
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  text-decoration: none;
  font-size: 3.5rem;
  color: #444444;
  padding: 1rem;
  border-radius: 1rem;
  transition: all 300ms ease;
}
.index-main .filter-index-section .filter-list-box ul li a:hover {
  background-color: #10463e;
  color: #fff;
}
.index-main .filter-index-section .filter-list-box ul li a i {
  margin-right: 1rem;
}

/* NOSOTROS */
.aboutUs-head {
  width: 100%;
  height: 65rem;
  background-image: url(../assets/fondo_nosotros.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
  color: #fff;
  text-align: center;
}
.aboutUs-head .aboutUs-info-head {
  margin-top: 15.2rem;
}
.aboutUs-head .aboutUs-info-head .aboutUs-info-title {
  font-size: 8.5rem;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
}
@media screen and (max-width: 540px) {
  .aboutUs-head .aboutUs-info-head .aboutUs-info-title {
    font-size: 7rem;
    font-weight: 600;
    font-family: "Courier New", Courier, monospace;
    text-transform: uppercase;
  }
}
.aboutUs-head .aboutUs-info-head .aboutUs-info-subtitle {
  font-size: 4.2rem;
  font-weight: 300;
  margin-bottom: 3.2rem;
}
@media screen and (max-width: 540px) {
  .aboutUs-head .aboutUs-info-head .aboutUs-info-subtitle {
    font-size: 3.1rem;
    font-weight: 300;
    margin-bottom: 3.2rem;
  }
}
.aboutUs-head .diagonal-line-below {
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 0 0 10vh 100vw;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.aboutUs-section {
  margin-bottom: 5rem;
}
.aboutUs-section .about-box {
  width: 90%;
  max-width: 100rem;
  margin: auto;
  overflow: hidden;
  padding: 5.2rem 0;
}
.aboutUs-section .about-box .aboutUs-title {
  text-align: center;
  font-size: 5.6rem;
  margin-bottom: 5rem;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
  color: #202020;
}
.aboutUs-section .about-box .aboutUs-info {
  margin-bottom: 1.3rem;
  font-weight: 300;
  font-size: 2.8rem;
  text-align: justify;
  line-height: 3rem;
  color: #444444;
}

.aboutUs-visionMision {
  margin-bottom: 5rem;
}
.aboutUs-visionMision .about-box-visionMision {
  width: 90%;
  max-width: 100rem;
  margin: auto;
  overflow: hidden;
  padding: 5.2rem 0;
}
.aboutUs-visionMision .about-box-visionMision .aboutUs-title {
  text-align: center;
  font-size: 5.6rem;
  margin-bottom: 5rem;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
  color: #202020;
}
.aboutUs-visionMision .about-box-visionMision .aboutUs-info {
  margin-bottom: 1.3rem;
  font-weight: 300;
  font-size: 2.8rem;
  text-align: justify;
  line-height: 3rem;
  color: #444444;
}

.aboutUs-img-section {
  width: 100%;
  height: 50rem;
  overflow: hidden;
  display: flex;
  position: relative;
}
.aboutUs-img-section .diagonal-line-above {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  border-width: 10vh 100vw 0 0;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}
.aboutUs-img-section .aboutUs-img-box {
  width: 100%;
}
.aboutUs-img-section .aboutUs-img-box img {
  width: 100%;
  height: 50rem;
}
.aboutUs-img-section .diagonal-line-below {
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 0 0 10vh 100vw;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.aboutUs-visionMision {
  margin-bottom: 5rem;
}
.aboutUs-visionMision .about-box {
  width: 90%;
  max-width: 100rem;
  margin: auto;
  overflow: hidden;
  padding: 5.2rem 0;
}
.aboutUs-visionMision .about-box .aboutUs-title {
  text-align: center;
  font-size: 5.6rem;
  margin-bottom: 5rem;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
}
.aboutUs-visionMision .about-box .aboutUs-info {
  margin-bottom: 1.3rem;
  font-weight: 300;
  font-size: 2.8rem;
  text-align: justify;
  line-height: 2.4rem;
  color: #302f2f;
}

/* PRODUCTOS */
.products-section {
  width: 100%;
  margin: auto;
}
.products-section .products-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}
.products-section .products-box .filter-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.products-section .products-box .filter-products h1 {
  font-size: 3rem;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  font-weight: 600;
}
@media screen and (max-width: 540px) {
  .products-section .products-box .filter-products h1 {
    font-size: 2.3rem;
  }
}
.products-section .products-box .filter-products ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0 5rem;
  gap: 2rem;
  font-size: 2rem;
}
.products-section .products-box .filter-products ul li a {
  font-weight: 400;
  text-decoration: none;
  color: #0f1518;
  text-transform: capitalize;
  position: relative;
}
.products-section .products-box .filter-products ul li a::after {
  content: "";
  width: 1.5rem;
  height: 1px;
  background-color: #050505;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%, 50%);
  opacity: 0;
  transition: all 300ms ease;
}
.products-section .products-box .filter-products ul li a:hover::after {
  opacity: 1;
}
.products-section .products-box .filter-products ul li a:hover {
  transition: all 300ms ease;
}
.products-section .products-box .products-card-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-top: 2rem;
  padding: 2rem;
}
@media screen and (max-width: 1200px) {
  .products-section .products-box .products-card-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
  }
}
@media screen and (max-width: 900px) {
  .products-section .products-box .products-card-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}
@media screen and (max-width: 540px) {
  .products-section .products-box .products-card-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}
.products-section .products-box .products-card-box .cards-box {
  /* Cards */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px #bbb8b8 solid;
  border-radius: 3rem;
  position: relative;
  cursor: pointer;
}
.products-section .products-box .products-card-box .cards-box .product-discount {
  position: absolute;
  font-size: 1.5rem;
  background-color: #10463e;
  color: #fff;
  border-radius: 1rem;
  width: 5rem;
  text-align: center;
  top: 3%;
  left: 4%;
}
.products-section .products-box .products-card-box .cards-box .product-discount:hover {
  background-color: #021b18;
}
.products-section .products-box .products-card-box .cards-box .card-img-box {
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.products-section .products-box .products-card-box .cards-box .card-img-box img {
  height: 15rem;
  width: 25rem;
}
.products-section .products-box .products-card-box .cards-box .card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20rem;
  text-align: center;
}
.products-section .products-box .products-card-box .cards-box .card-info .title-card-box h2 {
  font-weight: 600;
  font-size: 2.5rem;
  color: #202020;
}
.products-section .products-box .products-card-box .cards-box .card-info .description-card-box {
  height: 12rem;
}
.products-section .products-box .products-card-box .cards-box .card-info .description-card-box p {
  font-size: 1.5rem;
  color: #444444;
}
.products-section .products-box .products-card-box .cards-box .card-info .price-card-box .cards-price {
  font-size: 2rem !important;
  font-weight: 600;
}
.products-section .products-box .products-card-box .cards-box .card-info .price-card-box .cards-price span {
  text-decoration: line-through;
  color: #777;
  font-weight: 400;
}
.products-section .products-box .products-card-box .cards-box .card-info .boton-card-box .btn-card-cart {
  width: 20rem;
  height: 3.5rem;
  border-radius: 1rem;
  border: 1px #bbb8b8 solid;
  font-size: 1.2rem;
  color: #444444;
  font-weight: 500;
  transition: all 300ms ease;
}
.products-section .products-box .products-card-box .cards-box .card-info .boton-card-box .btn-card-cart:hover {
  color: #fff;
  background-color: #10463e;
}

/* CONTACTO */
.contact-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 540px) {
  .contact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    row-gap: 2rem;
    margin-bottom: 2rem;
  }
}
.contact-section .form-contact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 7.3% 0 4.7%;
  width: 50%;
  margin-bottom: 2rem;
}
.contact-section .form-contact-box .contact-title {
  font-size: 5rem;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #202020;
}
.contact-section .form-contact-box .contact-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 3rem;
  margin-bottom: 3rem;
}
@media screen and (max-width: 800px) {
  .contact-section .form-contact-box .contact-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30rem;
  }
}
.contact-section .form-contact-box .contact-info .contact-number {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: "";
  gap: 0.5rem;
  color: #444444;
  font-size: 1.5rem;
  font-weight: 500;
}
.contact-section .form-contact-box .contact-info .contact-direction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: "";
  gap: 0.5rem;
  color: #444444;
  font-size: 1.5rem;
  font-weight: 500;
}
.contact-section .form-contact-box .contact-form .contact-input-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 4.5rem;
}
.contact-section .form-contact-box .contact-form .contact-input-box .contact-label {
  font-size: 1.8rem;
  font-weight: 600;
  color: #363636;
}
.contact-section .form-contact-box .contact-form .contact-input-box .contact-input {
  height: 3rem;
  outline: none;
  padding: 5px 0;
  border-bottom: 1px solid #777;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 30rem;
  background-color: transparent;
  font-size: 2rem;
}
.contact-section .form-contact-box .contact-form .contact-input-box textarea {
  height: 10rem;
  outline: none;
  padding: 5px 0;
  border-bottom: 1px solid #777;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 30rem;
  background-color: transparent;
  resize: none;
  font-size: 2rem;
}
.contact-section .form-contact-box .contact-form .btn-contact {
  padding: 1rem;
  border: 1px #bbb8b8 solid;
  border-radius: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
  cursor: pointer;
  width: 30rem;
  transition: all 300ms ease;
}
.contact-section .form-contact-box .contact-form .btn-contact:hover {
  color: #fff;
  background-color: #10463e;
}
.contact-section .img-contact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  overflow: hidden;
}
@media screen and (max-width: 800px) {
  .contact-section .img-contact-box {
    display: none;
  }
}
.contact-section .img-contact-box img {
  width: 100%;
  height: 80rem;
}

/* INICIO SESIÓN */
.logIn-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .logIn-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-bottom: 2rem;
  }
}
.logIn-section .form-logIn-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 7.3% 0 4.7%;
  width: 50%;
}
.logIn-section .form-logIn-box .logIn-title {
  font-size: 5rem;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 7rem;
  text-align: center;
  color: #202020;
}
.logIn-section .form-logIn-box .logIn-form .logIn-input-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 4.5rem;
}
.logIn-section .form-logIn-box .logIn-form .logIn-input-box .logIn-label {
  font-size: 1.8rem;
  font-weight: 600;
  color: #363636;
}
.logIn-section .form-logIn-box .logIn-form .logIn-input-box .logIn-input {
  height: 3rem;
  outline: none;
  padding: 5px 0;
  border-bottom: 1px solid #777;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 30rem;
  background-color: transparent;
  font-size: 2rem;
}
.logIn-section .form-logIn-box .logIn-form .btn-logIn {
  padding: 1rem;
  border: 1px #bbb8b8 solid;
  border-radius: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
  cursor: pointer;
  width: 30rem;
  transition: all 300ms ease;
}
.logIn-section .form-logIn-box .logIn-form .btn-logIn:hover {
  color: #fff;
  background-color: #10463e;
}
.logIn-section .form-logIn-box .pass-recover-link {
  margin-top: 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: #0b868f;
  font-weight: 600;
}
@media screen and (max-width: 540px) {
  .logIn-section .form-logIn-box .pass-recover-link {
    font-size: 1.2rem;
  }
}
.logIn-section .form-logIn-box .pass-recover-link:hover {
  color: #000000;
}
.logIn-section .form-logIn-box .create-account-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  text-align: center;
}
.logIn-section .form-logIn-box .create-account-box i {
  font-size: 3rem;
  color: #777;
}
.logIn-section .form-logIn-box .create-account-box p {
  font-size: 2rem;
  font-weight: 500;
  color: #777;
}
.logIn-section .form-logIn-box .create-account-box a {
  width: 20rem;
  text-decoration: none;
  color: #fff;
  background-color: #10463e;
  border: 1px #bbb8b8 solid;
  padding: 1rem;
  font-weight: 500;
  font-size: 1.2rem;
  border-radius: 1rem;
  transition: all 300ms ease;
}
.logIn-section .form-logIn-box .create-account-box a:hover {
  background-color: #b4b4b4;
  border: 1px #bbb8b8 solid;
  color: #000000;
}
.logIn-section .img-logIn-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  overflow: hidden;
}
@media screen and (max-width: 800px) {
  .logIn-section .img-logIn-box {
    display: none;
  }
}
.logIn-section .img-logIn-box img {
  width: 100%;
  height: 80rem;
}

/* REGISTRO */
.register-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .register-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    margin-bottom: 2rem;
  }
}
.register-section .form-register-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 7.3% 0 4.7%;
  width: 50%;
}
.register-section .form-register-box .register-title {
  font-size: 5rem;
  font-family: "Courier New", Courier, monospace;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 7rem;
  text-align: center;
  color: #202020;
}
.register-section .form-register-box .register-form .register-input-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 4.5rem;
}
.register-section .form-register-box .register-form .register-input-box .register-label {
  font-size: 1.8rem;
  font-weight: 600;
  color: #363636;
}
.register-section .form-register-box .register-form .register-input-box .register-input {
  height: 3rem;
  outline: none;
  padding: 5px 0;
  border-bottom: 1px solid #777;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 30rem;
  background-color: transparent;
  font-size: 2rem;
}
.register-section .form-register-box .register-form .btn-register {
  padding: 1rem;
  border: 1px #bbb8b8 solid;
  border-radius: 1rem;
  font-weight: 600;
  font-size: 1.5rem;
  cursor: pointer;
  width: 30rem;
  transition: all 300ms ease;
}
.register-section .form-register-box .register-form .btn-register:hover {
  color: #fff;
  background-color: #10463e;
}
.register-section .form-register-box .log-account-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  text-align: center;
}
.register-section .form-register-box .log-account-box p {
  font-size: 1.5rem;
  color: #777;
  font-weight: 500;
}
.register-section .form-register-box .log-account-box a {
  border: 1px #c2c0c0 solid;
  border-radius: 1rem;
  padding: 1rem;
  text-decoration: none;
  color: #fff;
  background-color: #10463e;
  font-size: 1.5rem;
  font-weight: 500;
  width: 20rem;
  transition: all 300ms ease;
}
.register-section .form-register-box .log-account-box a:hover {
  background-color: #b4b4b4;
  border: 1px #bbb8b8 solid;
  color: #000000;
}
.register-section .img-register-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  overflow: hidden;
}
@media screen and (max-width: 800px) {
  .register-section .img-register-box {
    display: none;
  }
}
.register-section .img-register-box img {
  width: 100%;
  height: 80rem;
}

/*# sourceMappingURL=styles.css.map */
