@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
}

/* HEADER */

/* Barra Principal */

.logIn-icon {
  display: none;
}

.signUp-icon {
  display: none;
}

.header-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  height: 15rem;
  background-color: #eaecec;
  color: #000000;
}

.logo-box img {
  height: 10rem;
}

.user-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
}

.user-box a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.7rem;
  color: #444242;
}

.login-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-right: 1rem;
}

.login-box a {
  text-decoration: none;
  font-weight: 600;
  font-size: 1.7rem;
  color: #444242;
  transition: all 300ms ease;
}

.login-box a:hover {
  color: #219599;
}

.fa-basket-shopping {
  margin-right: 1px;
}

.fa-basket-shopping:hover {
  color: #219599;
}

/* Nav Bootstrap*/

.menu {
  display: none;
  font-size: 2.5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #050505;
  transition: all 300ms ease;
}

.menu:hover {
  cursor: default !important;
  color: #020202;
}

.responsive-icon {
  background-color: hwb(192 93% 5%);
  border: 1px #0b868f solid;
}

.nav-box {
  font-size: 2rem;
  padding: 1rem;
  background-color: rgb(238, 238, 237) !important;
}

.nav-list-box ul li a {
  font-weight: 500;
  font-size: 2rem;
  color: #020202;
  margin-right: 2rem;
}

.nav-list-box ul li a:hover {
  color: #219599;
}

.nav-list-box form {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #e0dede;
  border-radius: 2rem;
  background-color: #fff;
  height: 4rem;
  overflow: hidden;
  padding: 0 1rem;
}

.nav-list-box form input {
  outline: none;
  border: none;
  font-size: 1.5rem;
  color: #777;
}

.nav-list-box form input::-webkit-search-cancel-button {
  appearance: none;
}

.nav-list-box form .btn-search {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1rem 2rem;
  background-color: #ffffff;
  cursor: text;
}

.nav-list-box form .btn-search i {
  font-size: 2rem;
  color: #777;
}

/* MAIN */

/* index */

/* Carrusel Bootstrap */

.index-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index-main h1 {
  margin-top: 2rem;
  font-size: 5rem;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  font-weight: 600;
}

.carousel-box {
  width: 100%;
  padding: 1rem 2rem;
}

.carousel-item img {
  height: 100rem;
  border-radius: 1rem;
}

/* filtros index */

.filter-index-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
}

.filter-index-section h2 {
  font-size: 4rem;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  font-weight: 500;
  margin-top: 1rem;
}

.filter-list-box {
  display: grid;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem;
}

.filter-list-box ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-content: center;
  row-gap: 1rem;
  column-gap: 1rem;
  width: 100%;
  padding: 1rem;
}

.filter-list-box ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  padding: 2rem;
  list-style: none;
  border-radius: 1rem;
}

.filter-list-box ul li a {
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  text-decoration: none;
  font-size: 3.5rem;
  color: #444444;
  padding: 1rem;
  border-radius: 1rem;
  transition: all 300ms ease;
}

.filter-list-box ul li a i {
  margin-right: 1rem;
}

.filter-list-box ul li a:hover {
  background-color: #10463e;
  color: #fff;
}

/* Productos */

/* Filtro */

.products-section {
  width: 100%;
  margin: auto;
}

.products-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.products-box .filter-products h1 {
  font-size: 3rem;
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  font-weight: 600;
}

.products-box .filter-products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.products-box .filter-products ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0 5rem;
  gap: 2rem;
  font-size: 2rem;
}

.products-box .filter-products ul li a {
  font-weight: 400;
  text-decoration: none;
  color: #0f1518;
  text-transform: capitalize;
  position: relative;
}

.filter-products ul li a::after {
  content: "";
  width: 1.5rem;
  height: 1px;
  background-color: #050505;
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%, 50%);
  opacity: 0;
  transition: all 300ms ease;
}

.filter-products ul li a:hover::after {
  opacity: 1;
}

.products-box .filter-products ul li a:hover {
  transition: all 0.3s ease;
}

/* Cards */

.products-card-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
  margin-top: 2rem;
  padding: 2rem;
}

.cards-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border: 1px #bbb8b8 solid;
  border-radius: 1rem;
  position: relative;
  cursor: pointer;
}

.card-img-box {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.card-img-box img {
  width: 25rem;
  height: 12rem;
}

.product-discount {
  position: absolute;
  font-size: 1.5rem;
  background-color: #10463e;
  color: #fff;
  border-radius: 1rem;
  width: 5rem;
  text-align: center;
  top: 2%;
  left: 2%;
}

.product-discount:hover {
  background-color: #021b18;
}

.card-info {
  width: 20rem;
  text-align: center;
}

.card-info h2 {
  font-weight: 600;
  font-size: 2rem;
}

.card-info p {
  font-size: 1.5rem;
}

.cards-price {
  font-size: 2rem !important;
  font-weight: 600;
}

.cards-price span {
  text-decoration: line-through;
  color: #777;
  font-weight: 400;
}

.btn-card-cart {
  width: 20rem;
  height: 3.5rem;
  border-radius: 1rem;
  border: 1px #777 solid;
  font-size: 1.2rem;
  font-weight: 500;
  transition: all 300ms ease;
}

.btn-card-cart:hover {
  color: #fff;
  background-color: #10463e;
}

/* CONTACTO */

.contact-section {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;  
}

.img-contact-box {
  height: 100%;
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-contact-box img {
  width: 100%;  
}

.form-contact-box { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 7.3% 0 4.7%;
  width: 50%;
}

.contact-title {
  font-size: 5rem;    
  font-family: 'Courier New', Courier, monospace;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 7rem;  
}

.contact-form .contact-input-box {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.contact-input-box {
  margin-bottom: 4.5rem;
}

.contact-label {
  font-size: 1.8rem;
  font-weight: 600;
  color: #363636;
}

.contact-input {
  height: 3rem;
  outline: none;
  padding: 5px 0;
  border-bottom: 1px solid #777;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 30rem;  
  background-color: transparent;
  font-size: 2rem;
}

.contact-input-box textarea {
  height: 10rem;
  outline: none;
  padding: 5px 0;
  border-bottom: 1px solid #777;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 30rem;  
  background-color: transparent;
  resize: none;
  font-size: 2rem;
}

.btn-contact {
  padding: 1rem;
  border: 1px #c5c2c2 solid;
  border-radius: 1rem;  
  font-weight: 600;  
  font-size: 1.5rem;
  cursor: pointer;
  width: 20rem;
  transition: all 300ms ease;  
}

.btn-contact:hover{
  color: #fff;
  background-color: #10463e;

}

/* FOOTER */

.footer {
  background-color: #0f1518;
  margin-top: auto;
  width: 100%;
}

.footer-group {
  display: grid;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  font-size: 1.5rem;
  grid-gap: 50px;
  padding: 45px 0;
}

.footer-box .footer-titles {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 25px;
}

.footer-box p {
  color: #efefef;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.footer-logo {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo img {
  width: 300px;
  color: #fff;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%;
  height: 5rem;
}

.social a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  text-decoration: none;
  width: 45px;
  height: 45px;
  color: #fff;
  text-align: center;
  background-color: #263646;
  border-radius: 30px;
  transition: all 300ms ease;
}

.social a:hover {
  color: rgb(28, 177, 223);
}

.footer-copy {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1.5rem;
  font-size: 1.5rem;
  background-color: #011218;
  color: #fff;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

/* Header responsive */

@media only screen and (max-width: 990px) {
  .header-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
  }

  .user-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .login-box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .logo-box {
    margin-bottom: 2rem;
  }
  .user-box {
    margin-bottom: 2rem;
  }

  .logIn,
  .signUp,
  .separate {
    display: none;
  }
  .logIn-icon,
  .signUp-icon,
  .menu {
    display: contents;
  }
}

/* Index responsive */

@media only screen and (max-width: 800px) {
  /* Carrusel Bootstrap */
  .carousel-box {
    width: 100%;
    height: 50rem;
  }
  .carousel-item img {
    width: 100%;
    height: 42rem;
  }

  /* Index filter */

  .filter-list-box ul {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Productos responsive */

@media only screen and (max-width: 1200px) {
  .products-card-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 900px) {
  .products-card-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 760px) {
  .products-card-box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Contacto responsive */
@media only screen and (max-width: 1200px) {
  .contact-section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    row-gap: 2rem;
  }

  .img-contact-box{
    width: 100%;
  }
}


/* footer responsive */

@media only screen and (max-width: 760px) {
  .footer .footer-group {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
}
