* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;

  body {
    @include flex(flex, column, "", "");
    font-family: "Alegreya Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    min-height: 100vh;
  }
}

/* HEADER */
/* Barra inicio */
.header-box {
  @include flex(flex, row, space-between, center);
  padding: 0 5rem;
  height: 15rem;
  background-color: $background-header;
  color: #000000;

  .logo-box {
    a {
      img {
        height: 10rem;
      }
    }
    @include media(1024px) {
      margin-bottom: 2rem;
    }
  }
  .user-box {
    @include flex(flex, row, center, center);
    gap: 0.5rem;
    font-size: 1.5rem;
    margin-bottom: 2rem;

    .login-box {
      @include flex(flex, row, center, center);
      gap: 0.5rem;
      margin-right: 1rem;

      @include media(1024px) {
        gap: 2rem;
      }

      .logIn-icon {
        display: none;

        @include media() {
          display: contents;
        }
      }

      .signUp-icon {
        display: none;

        @include media() {
          display: contents;
        }
      }

      .logIn {
        @include media() {
          display: none;
        }
      }

      .signUp {
        @include media() {
          display: none;
        }
      }

      a {
        text-decoration: none;
        font-weight: 600;
        font-size: 1.7rem;
        color: $color-texto;
        transition: all 300ms ease;
        &:hover {
          color: $color-texto-hover;
        }
      }
      span {
        font-weight: 600;
        font-size: 1.7rem;
        color: $color-texto;

        @include media() {
          display: none;
        }
      }
    }
    .cart-box {
      a {
        text-decoration: none;
        font-weight: 600;
        font-size: 1.7rem;
        color: $color-texto;
        transition: all 300ms ease;
        &:hover {
          color: $color-texto-hover;
        }
      }
      span {
        font-weight: 600;
        font-size: 1.7rem;
        color: $color-texto;
      }
    }
  }

  @include media(1024px) {
    @include flex(flex, column, center, center);
    height: 20rem;
  }
}

/* Menu de navegación Bootstrap */
.nav-box {
  font-size: 2rem;
  padding: 1rem;
  background-color: $background-header !important;
  .menu {
    display: none;
    font-size: 2.5rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: #050505;
    transition: $transition;

    @include media(991px) {
      display: contents;
    }

    &:hover {
      cursor: default !important;
      color: $color-texto;
    }
  }

  .responsive-icon {
    background-color: hwb(192 93% 5%);
    border: 1px #0b868f solid;
  }

  .nav-list-box {
    font-weight: 500;
    font-size: 2rem;    
    margin-right: 2rem;

    a {
      font-weight: 500;
      font-size: 2rem;
      color: $color-texto-titulo;
      margin-right: 2rem;
      &:hover {
        color: $color-texto-hover;
      }
    }

    form {
      @include flex(flex, row, center, center);
      position: relative;
      border: 1px #c4c2c2 solid;
      border-radius: 2rem;
      background-color: #fff;
      height: 4rem;
      overflow: hidden;
      padding: 0 1rem;

      input {
        border: none;
        font-size: 1.5rem;
        color: $color-texto;
        outline: none !important;
        &::-webkit-search-cancel-button {
          appearance: none;
        }
      }

      .btn-search {
        @include flex(flex, row, center, center);
        border: none;
        height: 100%;
        padding: 1rem 2rem;
        background-color: #fff;
        cursor: text;

        i {
          font-size: 2rem;
          color: $color-texto;
        }
      }
    }
  }
}

/* FOOTER */

.footer {
  background-color: $background-footer;
  margin-top: auto;
  width: 100%;

  .footer-group {
    @include grid(3, 1rem);
    width: 100%;
    max-width: 1200px;
    margin: auto;
    font-size: 1.5rem;
    padding: 45px 0;

    @include media() {
      @include grid(1, 5rem);
      text-align: center;
    }

    .footer-box {
      .footer-logo {
        @include flex(flex, column, center, center);
        width: 100%;
        height: 60%;
        a {
          img {
            width: 30rem;
          }
        }
      }
      .social {
        @include flex(flex, row, center, center);
        gap: 3rem;
        width: 100%;
        height: 5rem;
        a {
          @include flex(flex, column, center, center);
          margin-top: 5rem;
          text-decoration: none;
          width: 45px;
          height: 45px;
          color: #fff;
          text-align: center;
          background-color: #263646;
          border-radius: 30px;
          transition: $transition;

          &:hover {
            color: $color-texto-hover;
          }
        }
      }
      .footer-titles {
        font-size: 1.8rem;
        color: #fff;
        margin-bottom: 3rem;
        padding: 0 5rem;
      }

      ul {
        padding: 0 5rem;

        li {
          width: 100%;
          list-style: none;
          margin-bottom: 1.8rem;

          a {
            text-decoration: none;
            font-size: 1.5rem;
            color: #fff;
            position: relative;

            &::after {
              content: "";
              width: 100%;
              height: 1px;
              background-color: #fff;
              position: absolute;
              bottom: -3px;
              left: 50%;
              transform: translate(-50%, 50%);
              opacity: 0;
              transition: $transition;
            }

            &:hover::after {
              opacity: 1;
            }

            &:hover {
              transition: $transition;
            }
          }

          p{
            font-weight: 600;
          }
        }
      }

      p {
        color: #fff;
        font-size: 1.5rem;
        margin-bottom: 10px;
      }
    }
  }

  .footer-copy {
    @include flex(flex, row, center, center);
    width: 100%;
    padding: 1.5rem;
    font-size: 1.5rem;
    background-color: $background-footer-copy;
    color: #fff;
    font-family: "Courier New", Courier, monospace;
    text-align: center;
  }
}
