/* INICIO SESIÓN */

.logIn-section {
  @include flex(flex, row, center, center);
  height: 100%;
  width: 100%;

  @include media(800px) {
    @include flex(flex, column, center, center);
    height: 100%;
    width: 100%;
    margin-bottom: 2rem;
  }

  .form-logIn-box {
    @include flex(flex, column, center, center);
    padding: 0 7.3% 0 4.7%;
    width: 50%;

    .logIn-title {
      font-size: 5rem;
      font-family: "Courier New", Courier, monospace;
      text-transform: uppercase;
      font-weight: 600;
      margin-top: 2rem;
      margin-bottom: 7rem;
      text-align: center;
      color: $color-texto-titulo;
    }

    .logIn-form {
      .logIn-input-box {
        @include flex(flex, column, center, flex-start);        
        width: 100%;
        margin-bottom: 4.5rem;

        .logIn-label {
          font-size: 1.8rem;
          font-weight: 600;
          color: $color-text-label;
        }

        .logIn-input {
          height: 3rem;
          outline: none;
          padding: 5px 0;
          border-bottom: 1px solid #777;
          border-top: none;
          border-left: none;
          border-right: none;
          width: 30rem;
          background-color: transparent;
          font-size: 2rem;
        }
      }

      .btn-logIn {
        padding: 1rem;
        border: $borde-boton;
        border-radius: 1rem;
        font-weight: 600;
        font-size: 1.5rem;
        cursor: pointer;
        width: 30rem;
        transition: $transition;

        &:hover {
          color: $color-boton-hover;
          background-color: $background-boton-hover;
        }
      }
    }

    .pass-recover-link {
      margin-top: 2rem;
      font-size: 1.5rem;
      text-decoration: none;
      color: #0b868f;
      font-weight: 600;

      @include media() {
        font-size: 1.2rem;
      }

      &:hover {
        color: #000000;
      }
    }

    .create-account-box {
      @include flex(flex, column, center, center);
      margin-top: 3rem;
      text-align: center;

      i {
        font-size: 3rem;
        color: #777;
      }

      p {
        font-size: 2rem;
        font-weight: 500;
        color: #777;
      }

      a {
        width: 20rem;
        text-decoration: none;
        color: $color-boton-hover;
        background-color: $background-boton-hover;
        border: $borde-boton;
        padding: 1rem;
        font-weight: 500;
        font-size: 1.2rem;
        border-radius: 1rem;
        transition: $transition;

        &:hover {
          background-color: #b4b4b4;
          border: $borde-boton;
          color: #000000;
        }
      }
    }
  }

  .img-logIn-box {
    @include flex(flex, column, center, center);
    height: 100%;
    width: 50%;
    overflow: hidden;    

    @include media(800px) {
      display: none;
    }

    img {
      width: 100%;
      height: 80rem;
    }
  }
}
