/* PRODUCTOS */

.products-section {
  width: 100%;
  margin: auto;

  .products-box {
    @include flex(flex, column, center, center);
    padding: 5rem;

    .filter-products {
      @include flex(flex, column, center, center);
      width: 100%;

      h1 {
        font-size: 3rem;
        font-family: "Courier New", Courier, monospace;
        text-transform: uppercase;
        font-weight: 600;

        @include media() {
          font-size: 2.3rem;
        }
      }

      ul {
        @include flex(flex, row, center, center);
        list-style: none;
        padding: 0 5rem;
        gap: 2rem;
        font-size: 2rem;

        li {
          a {
            font-weight: 400;
            text-decoration: none;
            color: #0f1518;
            text-transform: capitalize;
            position: relative;

            &::after {
              content: "";
              width: 1.5rem;
              height: 1px;
              background-color: #050505;
              position: absolute;
              bottom: -3px;
              left: 50%;
              transform: translate(-50%, 50%);
              opacity: 0;
              transition: $transition;
            }

            &:hover::after {
              opacity: 1;
            }

            &:hover {
              transition: $transition;
            }
          }
        }
      }
    }

    .products-card-box {
      @include grid(4, 1rem);
      margin-top: 2rem;
      padding: 2rem;

      @include media(1200px) {
        @include grid(3, 1rem);
      }

      @include media(900px) {
        @include grid(2, 1rem);
      }

      @include media() {
        @include grid(1, 1rem);
      }

      .cards-box {
        /* Cards */
        @include flex(flex, column, center, center);
        padding: 1rem;
        border: $border-card;
        border-radius: 3rem;
        position: relative;
        cursor: pointer;

        .product-discount {
          position: absolute;
          font-size: 1.5rem;
          background-color: $background-boton-hover;
          color: $color-boton-hover;
          border-radius: 1rem;
          width: 5rem;
          text-align: center;
          top: 3%;
          left: 4%;

          &:hover {
            background-color: #021b18;
          }
        }

        .card-img-box {
          margin-top: 4rem;
          margin-bottom: 1rem;

          img {
            height: $img-height-card;
            width: $img-width-card;
          }
        }

        .card-info {
          @include flex(flex, column, center, center);
          width: 20rem;
          text-align: center;

          .title-card-box {
            h2 {
              font-weight: 600;
              font-size: 2.5rem;
              color: $color-texto-titulo;
            }
          }

          .description-card-box {
            height: 12rem;
            p {
              font-size: 1.5rem;
              color: $color-texto;
            }
          }

          .price-card-box {
            .cards-price {
              font-size: 2rem !important;
              font-weight: 600;

              span {
                text-decoration: line-through;
                color: #777;
                font-weight: 400;
              }
            }
          }

          .boton-card-box {
            .btn-card-cart {
              width: 20rem;
              height: 3.5rem;
              border-radius: 1rem;
              border: $borde-boton;
              font-size: 1.2rem;
              color: $color-texto-boton;
              font-weight: 500;
              transition: $transition;

              &:hover {
                color: $color-boton-hover;
                background-color: $background-boton-hover;
              }
            }
          }
        }
      }
    }
  }
}
