/* PRODUCTOS */

.products-section {
  width: 100%;
  margin: auto;

  .products-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem;

    .filter-products {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;

      h1 {
        font-size: 3rem;
        font-family: "Courier New", Courier, monospace;
        text-transform: uppercase;
        font-weight: 600;

        @include media-down(sm) {
           font-size: 2.3rem;
          }
      }

      ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding: 0 5rem;
        gap: 2rem;
        font-size: 2rem;

        li {
          a {
            font-weight: 400;
            text-decoration: none;
            color: #0f1518;
            text-transform: capitalize;
            position: relative;

            &::after {
              content: "";
              width: 1.5rem;
              height: 1px;
              background-color: #050505;
              position: absolute;
              bottom: -3px;
              left: 50%;
              transform: translate(-50%, 50%);
              opacity: 0;
              transition: all 300ms ease;
            }

            &:hover::after {
              opacity: 1;
            }

            &:hover {
              transition: all 0.3s ease;
            }
          }
        }
      }
    }

    //   Cards

    .products-card-box {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 2rem;
      row-gap: 2rem;
      margin-top: 2rem;
      padding: 2rem;

      @include media-down(lg) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }

      @include media-down(md) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      @include media-down(sm) {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
      }

      .cards-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        border: 1px #bbb8b8 solid;
        border-radius: 1rem;
        position: relative;
        cursor: pointer;

        .product-discount {
          position: absolute;
          font-size: 1.5rem;
          background-color: #10463e;
          color: #fff;
          border-radius: 1rem;
          width: 5rem;
          text-align: center;
          top: 2%;
          left: 2%;

          &:hover {
            background-color: #021b18;
          }
        }

        .card-img-box {
          margin-top: 3rem;
          margin-bottom: 1rem;

          img {
            width: 25rem;
            height: 12rem;
          }
        }

        .card-info {
          width: 20rem;
          text-align: center;

          h2 {
            font-weight: 600;
            font-size: 2rem;
          }

          p {
            font-size: 1.5rem;
          }

          .cards-price {
            font-size: 2rem !important;
            font-weight: 600;

            span {
              text-decoration: line-through;
              color: #777;
              font-weight: 400;
            }
          }

          .btn-card-cart {
            width: 20rem;
            height: 3.5rem;
            border-radius: 1rem;
            border: $borde-boton;
            font-size: 1.2rem;
            color: $color-texto-boton;
            font-weight: 500;
            transition: all 300ms ease;

            &:hover {
              color: $color-boton-hover;
              background-color: $background-boton-hover;
            }
          }
        }
      }
    }
  }
}
